@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


.main-wrapper img{
    width: 100%;
    display: block;
}
.main-wrapper a{
    color: #000;
    text-decoration: none;
}
.main-wrapper ul li{
    list-style-type: none;
}
.navbar{
    background: #fff;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}
.brand-and-icon{
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0;
    align-items: center;
    width: 100%;
    /* border-bottom: 1px solid #ddd; */
}
.brand-and-icon__container{
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #ddd; */
}
.navbar-brand{
    display: flex;
    width: fit-content;
    font-size: 1.25rem;
    /* line-height: 1.75rem; */
    letter-spacing: 1px;
    font-weight: 700;
}
.navbar-brand__span{
    display: flex;
    width: fit-content;
}

.brand-and-icon__collapse{
    /* flex justify-between items-center w-full lg:hidden */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar-toggler{
    display: block;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    transition: all 0.4s ease;
    border: none;
    border-radius: 4px;
}
.navbar-toggler:hover{
    opacity: 0.7;
}
.sej-sbs-btn{
    display: block;
    border: none;
    background-color: #23bc0b;
    color: #ffff;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    transition: all 0.4s ease;
    border-radius: 4px;
}
.sej-sbs-btn__text{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-weight: 700;
    display: none;
}
.navbar-collapse{
    position: fixed;
    top: 0;
    left: -100%; 
    height: 100%;
    width: 90%; 
    background-color: #ffff;
    transition: left 0.5s ease; 
    z-index: 999;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}
.navbar-collapse.open {
    left: 0;
    box-shadow: 5px 5px 15px 45rem rgba(0, 0, 0, 0.5);
    transition: left 0.5s ease, box-shadow 0.6s ease-in 0.2s;
}
.navbar-collapse .brand-and-icon{
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-collapse form{
    padding-left: 20px;
    padding-right: 20px;
}
.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    z-index: 1000; 
    margin-bottom: 5px;
}
.form__container--btn{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-weight: 700;
    
}
.form__container--hidden{
    display: none;
}
.navbar-nav > li > a{
    /* font-size: 1.5rem; */
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    border-radius: 1px;
    position: relative;
    transition: all 0.4s ease;
    padding-left: 20px;
    padding-right: 20px;
}
.form{
   
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.form__container{
    background: #fff;
    border: 2px solid #ddd;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    position: relative;
}
.form__container__icon{
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: #aaa;
    cursor: pointer;
    transition: all 0.4s ease;
}
.form__container__input{
    border: none;
    width: 100%;
    padding-left:1.25rem ;
    

}
.form__container__input:focus{
    outline: none;

}
.drop-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-nav > li > a:hover{
    
}
.navbar-search-space{
    margin-top: 20px;
}
.sub-menu h4{
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem 0;
}
.sub-menu ul li{
    text-transform: capitalize;
    padding: 0.2rem 0;
    font-size: 1rem;
}
.sub-menu ul li a{
    opacity: 0.8;
    transition: all 0.5s ease;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}
.sub-menu ul li a:hover{
    padding-left: 14px;
    opacity: 0.9;
    text-decoration: underline;
}
.sub-menu{
    display: none;
    background: #f8f8f8;
    line-height: 2;
    padding: 0.5rem 0;
}

.sub-menu-item{
    padding-left: 0rem;
}
.sub-menu-item > ul >li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.sub-menu-item:nth-child(3){

    display: none;
    background: #ddd;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sub-menu-item:nth-child(3) h2{
    text-transform: capitalize;
    margin: 1.5rem 0;
}
.sub-menu-item:nth-child(3) .btn{
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
}
.sub-menu-item:nth-child(3) .btn:hover{
    background: transparent;
    color: #000;
}
.sub-menu-item:nth-child(4){
    display: none;
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* header */
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/banner-bg.jpg) center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h2{
    margin: 1rem;
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    letter-spacing: 2px;
}
.header p{
    margin: 1rem auto;
    color: #fff;
    width: 60%;
    opacity: 0.8;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
}
.header button{
    margin: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    transition: all 0.5s ease;
    cursor: pointer;
}
.header button:hover{
    background: #fff;
    color: #000;
}

/* Media Queries */
@media screen and (min-width: 1024px){
    .navbar{
        flex-direction: row;
        /* flex-wrap: wrap; */
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 0 1rem;
        position: relative;
    }
    .navbar-toggler{
        display: none;
    }
    .brand-and-icon{
        flex: 0 0 100px;
        border-bottom: none;
        padding: 0;
    }
    .navbar-collapse{
        display: block!important;
        overflow-y: hidden;
        flex: 1 0 auto;

        position: static; 
        top: auto;
        left: auto;
        height: auto;
        width: auto;
        background-color: transparent; 
        padding: 0; 
        border: none; 
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav > li > a{
        border-bottom: none;
        margin: 0 0.4rem;
        /* padding: 1.7rem 1.8rem 1.7rem 0.4rem; */
        padding: 1.7rem 0.2rem 1.7rem 0.2rem;
        font-size: 0.9rem;
        font-weight: 400;
    }
    .navbar-nav :nth-child(7){
        display: none;
    }
    .drop-icon{
        display: none;
    }
    .form{
        display: none;
    }
    
    .sub-menu{
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        background: #f8f8f8;
    }
    .navbar-nav > li:hover .sub-menu{
        display: grid!important;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 5rem;
    }
    .navbar-nav > li{
        border-bottom: 4px solid transparent;
        transform-origin: center;
        transition: border-bottom 0.4s ease-in-out;
        
    }
    
    .navbar-nav > li:hover{
        border-bottom-color: #23bc0b;
    }
    .sub-menu-item{
        padding-left: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .sub-menu-item:nth-child(3){
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .sub-menu-item:nth-child(4){
        display: block;
    }
    .sej-sbs-btn{
        display: none;
    }

    /* header */
    .header{
        height: calc(100vh - 75px);
    }
    .header h2{
        font-size: 6rem;
    }
    .header p{
        width: 40%;
    }
    .search-bar-overlay {
        position: absolute;
        top: 0;
        right: 0; 
        width: 80%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        transition: right 0.5s ease, opacity 0.3s ease-in-out; 
        visibility: hidden;
        opacity: 0; 
      }

      .search-bar-overlay.active {
        right: 0; /* Slide in from the right */
        visibility: visible; /* Make the element visible */
        opacity: 1; /* Fully opaque */
      }

      .search-bar-overlay input {
        width: 60%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .search-bar-overlay .close-search {
        margin-left: 10px;
        font-size: 20px;
        cursor: pointer;
        color: #333;
      }
}
@media screen and (min-width: 425px){
    .sej-sbs-btn__text{
        display: inline;
    }
}

@media screen and (min-width: 1100px){
    .navbar-nav :nth-child(7){
        display: block;
    }
}
@media screen and (min-width: 1280px){
    .navbar-brand{
        font-size: 1.5rem; 
        /* font-size: 1.8755rem;  */
    line-height: 2rem;
    /* line-height: 2.25rem; */
    }
    .navbar-nav > li > a{
        padding: 1.7rem 0.5rem 1.7rem 0.5rem;
        /* padding: 1.7rem 1rem 1.7rem 1rem; */
        font-size: 1rem;
        font-weight: 400;
    }
}
@media screen and (min-width: 1280px){
    
    .navbar-nav > li > a{
        padding: 1.7rem 1rem 1.7rem 1rem;
        
    }
}